<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${menu.name}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:text="${menu.cheeses}" th:unless="${menu.cheeses.size()}">No Cheese</p>

<div class="list-group">
    <ul>
        <li th:each="cheese : ${menu.cheeses}" th:text="${cheese.name}">

        </li>
    </ul>
</div>

<p><a th:href="'/menu/add-item/' + ${menu.id}">Add Cheese</a></p>
</body>
</html>